<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<!--========================== header ==========================-->
	<section class="header">
		<div class="header__top">
			<div class="container">
				<div class="header__logo">
					<a href="/">
						<img src="img/logo.png" alt="">
					</a>
					<div class="header__logo__desc">Решения для гиперспектральной <br> визуализации</div>
				</div>
				<ul class="header__nav">
					<li class="has-children"><a href="/">База знаний</a></li>
					<li><a href="/">О нас</a></li>
					<li><a href="/">Связаться с нами</a></li>
				</ul>
				<button class="btn">Заказать звонок</button>
				<div class="header__phoneblock">
					<a href="tel:8 800 555 55 55" class="header__phone">8 800 555 55 55</a>
					<div class="header__phone__desc">Звонок по России бесплатно</div>
				</div>
			</div>
		</div>
		<div class="header__bottom">
			<div class="container">
				<ul class="header__nav">
					<li class="has-children"><a href="/">Гиперспектральные камеры</a></li>
					<li class="has-children"><a href="/">Системы</a></li>
					<li><a href="/">Машинное зрение</a></li>
					<li><a href="/">Гиперспектральное программное обеспечение</a></li>
					<li class="has-children"><a href="/">Области применения</a></li>
				</ul>
			</div>
		</div>
	</section>
	<!--==========================END header ==========================-->
	{% block content %}
		
	{% endblock %}
	
	<script src="js/jquery.js"></script>
	<script src="js/jquery.fancybox.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
