.sec-33__content {
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-gap: 30px;
}
.sec-33__left {
    .content-wp-editor {
        margin-top: 14px;
    }
    .btn {
        margin-top: 30px;
    }
}
.sec-33__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(auto-fill, minmax(max-content, 0));
    grid-gap: 20px;
}
.sec-33__item__label {
    font-size: 18px;
    font-weight: normal;
}
.sec-33__item__title {
    font-weight: bold;
    font-size: 18px;
    color: #A60000;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .sec-33__content {
        grid-template-columns: 1fr;
        grid-gap: 26px;
    }
    .sec-33__left .btn {
        margin-top: 20px;
    }
    .sec-33__item__label {
        font-size: 14px;
    }
    .sec-33__item__title {
        font-size: 16px;
    }
}