.sec-17__content {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-gap: 20px;
}
.sec-17__content__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    // align-items: start;
}
.sec-17__content__item {
    width: 100%;
    padding-bottom: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: start;
}
.sec-17__content__text__desc {
    font-weight: 300;
    font-size: 16px;
    margin-top: 16px;
}

@media screen and (max-width: 800px) {
    .sec-17__content {
        grid-template-columns: 1fr;
    }
    .sec-17__content__items {
        grid-template-columns: 1fr 1fr;
    }
    .sec-17__content__text__desc {
        font-size: 12px;
        margin-top: 5px;
    }
}