.sec-16__content {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-gap: 40px;
    align-items: start;
    justify-content: start;
    margin-top: 32px;
}
.sec-16-desc {
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}

.sec-16__content__img {
    width: 100%;
    padding-bottom: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 800px) {
    .sec-16__content {
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-gap: 16px;
    }
    .sec-16-desc {
        font-size: 14px;
    }
}