.sec-11 {
    padding-bottom: 60px;
    table {
        margin-top: 37px;
    }
}

@media screen and (max-width: 800px) {
    .sec-11 {
        padding-bottom: 26px;
        table {
            margin-top: 22px;
        }
    }
    
}