@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@red: #a60000;
* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1330px;
  padding: 0 30px;
  margin: 0 auto;
}
button {
  cursor: pointer;
}
.btn {
  font-weight: normal;
  font-size: 14px;
  color: white;
  border: none;
  background-color: @red;
  border-radius: 3px;
  padding: 10px 25px;
  transition: 0.3s;
  &:hover {
    background-color: darken(@red, 5%);
  }
}

@import "partials/_header.less";
@import "partials/_footer.less";
