{% set title = 'Главная' %}

{% extends 'layouts/_main.html' %}

{% block content %}


<!-- ============================ hero ============================== -->
<section class="hero" style="background-image: url(img/pika-l.jpg);">
    <div class="container">
        <div class="breadcrumbs">
            <!-- Breadcrumb NavXT 6.6.0 -->
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Перейти к Альтиус." href="https://altius-rf.ru" class="home">
                    <span property="name">Главная</span>
                </a>
                <meta property="position" content="1">
            </span>
            <span> » </span>
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Перейти к Объекты." href="https://altius-rf.ru/objects" class="post post-objects-archive">
                    <span property="name">Объекты</span>
                </a>
                <meta property="position" content="2">
            </span>
            <span> » </span>
            <span property="itemListElement" typeof="ListItem">
                <span property="name" class="post post-objects current-item">Pika L</span>
                <meta property="url" content="https://altius-rf.ru/objects/kapitalnyj-remont-kazanskoj-tjec-1">
                <meta property="position" content="3">
            </span>
        </div>
        <h1 class="hero__title">База знаний</h1>
        <p class="hero__desc">Узнайте больше о гиперспектральной визуализации</p>
    </div>
</section>
<!-- ============================END hero ============================== -->
<!-- ============================ sec-25 ============================== -->
<section class="sec-25 sec white">
    <div class="container">
        <h1 class="sec-title">Введение в гиперспектральную визуализацию</h1>
        <div class="sec-25__content">
            <div class="sec-25__content__text">
                <div class="content-wp-editor">
                    <p>В то время как обычная камера записывает три спектральных канала в каждом пикселе (красный, зеленый и синий), гиперспектральные формирователи изображений могут записывать сотни спектральных каналов. Эта дополнительная информация позволяет различать материалы одного цвета. Примеры включают различие между здоровыми и подверженными стрессу культурами, орехами и скорлупой, аналогичными флуоресцентными материалами и т. Д.</p>
                    <p>Гиперспектральные камеры Resonon - это формирователи изображений с линейной разверткой (также называемые формирователями изображений с «пушем»). Двумерные изображения создаются путем сбора изображения построчно, пока образец перемещается относительно камеры.</p>
                </div>
                <div class="links">
                    <a href="" class="link">Введение в гиперспектральную визуализацию</a>
                    <a href="" class="link">Глоссарий гиперспектральной терминологии</a>
                </div>
            </div>
            <div class="sec-25__content__img">
                <img src="img/sec-25.png" alt="">                
            </div>
        </div>
    </div>
</section>
<!-- ============================END sec-25 ============================== -->
<!-- ============================ sec-26 ============================== -->
<section class="sec-26 sec">
    <div class="container">
        <h2 class="sec-title">Отношение сигнал шум</h2>
        <div class="links">
            <a href="" class="link">Обсуждение отношения сигнал / шум для гиперспектральных формирователей изображений</a>
            <a href="" class="link">Отношение сигнал / шум резононных гиперспектральных камер</a>
        </div>
    </div>
</section>
<!-- ============================END sec-26 ============================== -->
<!-- ============================ sec-27 ============================== -->
<section class="sec-27 sec white">
    <div class="container">
        <div class="sec-27__content">
            <div class="sec-27__content__text">
                <h2 class="sec-title">Публикации исследований</h2>
                <div class="content-wp-editor">
                    <p>Журнальные статьи, описывающие исследования с использованием систем гиперспектральной съемки Resonon.</p>
                </div>
                <div class="links">
                    <a href="" class="link">Щелкните здесь, чтобы просмотреть список публикаций, использующих системы Resonon.</a>
                </div>
            </div>
            <div class="sec-27__content__img">
                <img src="img/sec-26.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- ============================END sec-27 ============================== -->
<!-- ============================ sec-28 ============================== -->
<section class="sec-28 sec white">
    <div class="container">
        <h2 class="sec-title">Обучающие видео</h2>
        <div class="sec-28__items">
            <div class="sec-28__item">
                <div class="videoblock" style="background-image: url(img/sec-19-video.png);">
                    <img src="img/play.svg" class="videoblock__play" alt="">
                </div>
                <div class="sec-28__item__title">Фокусировка гиперспектральной камеры в настольной системе</div>
            </div>
            <div class="sec-28__item">
                <div class="videoblock" style="background-image: url(img/sec-19-video.png);">
                    <img src="img/play.svg" class="videoblock__play" alt="">
                </div>
                <div class="sec-28__item__title">Фокусировка гиперспектральной камеры в настольной системе</div>
            </div>
            <div class="sec-28__item">
                <div class="videoblock" style="background-image: url(img/sec-19-video.png);">
                    <img src="img/play.svg" class="videoblock__play" alt="">
                </div>
                <div class="sec-28__item__title">Фокусировка гиперспектральной камеры в настольной системе</div>
            </div>
            <div class="sec-28__item">
                <div class="videoblock" style="background-image: url(img/sec-19-video.png);">
                    <img src="img/play.svg" class="videoblock__play" alt="">
                </div>
                <div class="sec-28__item__title">Фокусировка гиперспектральной камеры в настольной системе</div>
            </div>
            <div class="sec-28__item">
                <div class="videoblock" style="background-image: url(img/sec-19-video.png);">
                    <img src="img/play.svg" class="videoblock__play" alt="">
                </div>
                <div class="sec-28__item__title">Фокусировка гиперспектральной камеры в настольной системе</div>
            </div>
            <div class="sec-28__item">
                <div class="videoblock" style="background-image: url(img/sec-19-video.png);">
                    <img src="img/play.svg" class="videoblock__play" alt="">
                </div>
                <div class="sec-28__item__title">Фокусировка гиперспектральной камеры в настольной системе</div>
            </div>
            <div class="sec-28__item">
                <div class="videoblock" style="background-image: url(img/sec-19-video.png);">
                    <img src="img/play.svg" class="videoblock__play" alt="">
                </div>
                <div class="sec-28__item__title">Фокусировка гиперспектральной камеры в настольной системе</div>
            </div>
            <div class="sec-28__item">
                <div class="videoblock" style="background-image: url(img/sec-19-video.png);">
                    <img src="img/play.svg" class="videoblock__play" alt="">
                </div>
                <div class="sec-28__item__title">Фокусировка гиперспектральной камеры в настольной системе</div>
            </div>
        </div>
    </div>
</section>
<!-- ============================END sec-28 ============================== -->
<!-- ============================END sec-23 ============================== -->
<div class="sec-23 sec">
    <div class="container">
        <h2 class="sec-title">Загрузки</h2>
        <div class="content-wp-editor">
            <p>Spectronon, наше программное обеспечение для гиперспектрального анализа и образцы данных доступны для бесплатной загрузки. Мы считаем, что свободный доступ к нашему гиперспектральному программному обеспечению будет способствовать развитию гиперспектральных изображений как важного инструмента для науки, техники и промышленности. </p>
        </div>
    </div>
</div>
<!-- ============================END sec-23 ============================== -->
<!-- ============================ sec-5 ============================== -->
<section class="sec-5 sec white">
    <div class="container">
        <div class="sec-5__content">
            <h2 class="sec-title">Свяжитесь с нами</h2>
            <div class="sec-5__desc">Щелкните ниже для получения дополнительной информации.</div>
            <button class="btn">Свяжитесь с нами</button>
        </div>
        <div class="sec-5__alert">Системы высокоточной гиперспектральной съемки для исследовательских и промышленных приложений.</div>
    </div>
</section>
<!-- ============================END sec-5 ============================== -->

{% endblock %}