{% set title = 'Главная' %}

{% extends 'layouts/_main.html' %}

{% block content %}

<!-- ============================ hero ============================== -->
<section class="hero" style="background-image: url(img/hero.jpg);">
    <div class="container">
        <div class="breadcrumbs">
            <!-- Breadcrumb NavXT 6.6.0 -->
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Перейти к Альтиус." href="https://altius-rf.ru" class="home">
                    <span property="name">Главная</span>
                </a>
                <meta property="position" content="1">
            </span>
            <span> » </span>
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Перейти к Объекты." href="https://altius-rf.ru/objects" class="post post-objects-archive">
                    <span property="name">Объекты</span>
                </a>
                <meta property="position" content="2">
            </span>
            <span> » </span>
            <span property="itemListElement" typeof="ListItem">
                <span property="name" class="post post-objects current-item">Капитальный ремонт Казанской ТЭЦ-1</span>
                <meta property="url" content="https://altius-rf.ru/objects/kapitalnyj-remont-kazanskoj-tjec-1">
                <meta property="position" content="3">
            </span>
        </div>
        <h1 class="hero__title">Гиперспектральные камеры</h1>
        <div class="hero__btns">
            <button class="btn">Скачать образцы данных</button>
            <button class="btn white">Аксессуары</button>
        </div>
    </div>
</section>
<!-- ============================END hero ============================== -->
<!-- ============================ sec-6 ============================== -->
<section class="sec-6">
    <div class="container">
        <div class="block-4">
            <h2 class="sec-title">Наши камеры</h2>
            <div class="block-4__content">
                <div class="block-4__text">
                    <p>Гиперспектральные камеры Resonon представляют собой формирователи изображений с линейным сканированием (т. Е. "Пушбрум"), которые сканируют видимый, ультрафиолетовый и ближний инфракрасный спектральные диапазоны. Они прочные и экономичные, обладают высокой точностью, низким уровнем искажений, низким уровнем рассеянного света и отличным качеством изображения.   </p>
                    <p>Наши гиперспектральные камеры можно использовать в любой из <strong>систем гиперспектральной визуализации</strong>, которые мы предлагаем для лабораторных, наружных и дистанционных измерений. Их также можно использовать для <strong>машинного зрения и оптической сортировки .</strong> </p>
                    <p><strong>Программное обеспечение Spectronon</strong> входит в состав наших исследовательских систем, и мы предлагаем программное обеспечение для глубокого обучения в реальном времени для приложений машинного зрения. SDK доступен для пользователей , которые хотят интегрировать камеру в свою собственную систему. </p>
                    <p>Наши гиперспектральные камеры развернуты по всему миру. Щелкните здесь, чтобы просмотреть список исследовательских публикаций с использованием систем Resonon.</p>
                </div>
                <img class="block-4__img" src="img/cams.jpg" alt="">
            </div>
        </div>
        <div class="block-5">
            <div class="block-5__parameter">Спектральный диапозон</div>
            <div class="block-5__items">
                <div class="block-5__item">
                    <div class="block-5__item__img" style="background-image: url(img/block-5.png);"></div>
                    <div class="block-5__item__title">Pika L</div>
                    <div class="block-5__item__num">400 - 1000</div>
                    <a href="" class="block-5__item__btn">Подробнее</a>
                </div>
                <div class="block-5__item">
                    <div class="block-5__item__img" style="background-image: url(img/block-5-2.png);"></div>
                    <div class="block-5__item__title">Pika NIR-320</div>
                    <div class="block-5__item__num">400 - 1000</div>
                    <a href="" class="block-5__item__btn">Подробнее</a>
                </div>
                <div class="block-5__item">
                    <div class="block-5__item__img" style="background-image: url(img/block-5.png);"></div>
                    <div class="block-5__item__title">Pika L</div>
                    <div class="block-5__item__num">400 - 1000</div>
                    <a href="" class="block-5__item__btn">Подробнее</a>
                </div>
                <div class="block-5__item">
                    <div class="block-5__item__img" style="background-image: url(img/block-5.png);"></div>
                    <div class="block-5__item__title">Pika L</div>
                    <div class="block-5__item__num">400 - 1000</div>
                    <a href="" class="block-5__item__btn">Подробнее</a>
                </div>
                <div class="block-5__item">
                    <div class="block-5__item__img" style="background-image: url(img/block-5.png);"></div>
                    <div class="block-5__item__title">Pika L</div>
                    <div class="block-5__item__num">400 - 1000</div>
                    <a href="" class="block-5__item__btn">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================END sec-6 ============================== -->
<!-- ============================ sec-7 ============================== -->
<section class="sec-7">
    <div class="container">
        <div class="sec-7__items">
            <div class="sec-7__text">
                <h2 class="sec-title">Аксессуары</h2>
                <p class="sec-7__desc">Все необходимое для настройки гиперспектральной системы для вашего приложения.</p>
            </div>
            <div class="sec-7__item">
                <div class="sec-7__item__img" style="background-image: url(img/sec-7.png);"></div>
                <div class="sec-7__item__text">
                    <h3 class="sec-7__item__title">Сцены и освещение</h3>
                    <p class="sec-7__item__desc">Несколько вариантов сцены и освещения позволяют отображать широкий спектр объектов.</p>
                </div>
            </div>
            <div class="sec-7__item">
                <div class="sec-7__item__img" style="background-image: url(img/sec-7.png);"></div>
                <div class="sec-7__item__text">
                    <h3 class="sec-7__item__title">Объективные линзы</h3>
                    <p class="sec-7__item__desc">Линзы объектива выбраны из-за низких спектральных искажений.</p>
                </div>
            </div>
            <div class="sec-7__item">
                <div class="sec-7__item__img" style="background-image: url(img/sec-7.png);"></div>
                <div class="sec-7__item__text">
                    <h3 class="sec-7__item__title">Программного обеспечения</h3>
                    <p class="sec-7__item__desc">Наше программное обеспечение Spectronon собирает и анализирует ваши гиперспектральные данные.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================END sec-7 ============================== -->
<!-- ============================ sec-8 ============================== -->
<section class="sec-8">
    <div class="container">
        <div class="sec-8__items">
            <div class="sec-8__item">
                <div class="sec-8__item__img" style="background-image: url(img/sec-8.png);"></div>
                <div class="sec-8__item__text">
                    <div class="sec-8__item__title">Pika L</div>
                    <p class="sec-8__item__desc-1">400 - 1000 nm Lightweight, Affordable VNIR Hyperspectral Camera</p>
                    <p class="sec-8__item__desc-2">Охватывает спектральный диапазон 400 - 1000 нм с высоким пространственным и спектральным разрешением и превосходным качеством изображения. </p>
                    <a href="" class="sec-8__item__btn">Подробнее</a>
                </div>
            </div>
            <div class="sec-8__item">
                <div class="sec-8__item__img" style="background-image: url(img/sec-8.png);"></div>
                <div class="sec-8__item__text">
                    <div class="sec-8__item__title">Pika L</div>
                    <p class="sec-8__item__desc-1">400 - 1000 nm Lightweight, Affordable VNIR Hyperspectral Camera</p>
                    <p class="sec-8__item__desc-2">Охватывает спектральный диапазон 400 - 1000 нм с высоким пространственным и спектральным разрешением и превосходным качеством изображения. </p>
                    <a href="" class="sec-8__item__btn">Подробнее</a>
                </div>
            </div>
            <div class="sec-8__item">
                <div class="sec-8__item__img" style="background-image: url(img/sec-8.png);"></div>
                <div class="sec-8__item__text">
                    <div class="sec-8__item__title">Pika L</div>
                    <p class="sec-8__item__desc-1">400 - 1000 nm Lightweight, Affordable VNIR Hyperspectral Camera</p>
                    <p class="sec-8__item__desc-2">Охватывает спектральный диапазон 400 - 1000 нм с высоким пространственным и спектральным разрешением и превосходным качеством изображения. </p>
                    <a href="" class="sec-8__item__btn">Подробнее</a>
                </div>
            </div>
            <div class="sec-8__item">
                <div class="sec-8__item__img" style="background-image: url(img/sec-8.png);"></div>
                <div class="sec-8__item__text">
                    <div class="sec-8__item__title">Pika L</div>
                    <p class="sec-8__item__desc-1">400 - 1000 nm Lightweight, Affordable VNIR Hyperspectral Camera</p>
                    <p class="sec-8__item__desc-2">Охватывает спектральный диапазон 400 - 1000 нм с высоким пространственным и спектральным разрешением и превосходным качеством изображения. </p>
                    <a href="" class="sec-8__item__btn">Подробнее</a>
                </div>
            </div>
            <div class="sec-8__item">
                <div class="sec-8__item__img" style="background-image: url(img/sec-8.png);"></div>
                <div class="sec-8__item__text">
                    <div class="sec-8__item__title">Pika L</div>
                    <p class="sec-8__item__desc-1">400 - 1000 nm Lightweight, Affordable VNIR Hyperspectral Camera</p>
                    <p class="sec-8__item__desc-2">Охватывает спектральный диапазон 400 - 1000 нм с высоким пространственным и спектральным разрешением и превосходным качеством изображения. </p>
                    <a href="" class="sec-8__item__btn">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================END sec-8 ============================== -->
<!-- ============================ sec-5 ============================== -->
<section class="sec-5">
    <div class="container">
        <div class="sec-5__content">
            <h2 class="sec-title">Свяжитесь с нами</h2>
            <div class="sec-5__desc">Щелкните ниже для получения дополнительной информации.</div>
            <button class="btn">Свяжитесь с нами</button>
        </div>
        <div class="sec-5__alert">Системы высокоточной гиперспектральной съемки для исследовательских и промышленных приложений.</div>
    </div>
</section>
<!-- ============================END sec-5 ============================== -->

{% endblock %}