{% set title = 'Главная' %}

{% extends 'layouts/_main.html' %}

{% block content %}

<!-- ============================ hero ============================== -->
<section class="hero" style="background-image: url(img/pika-l.jpg);">
    <div class="container">
        <div class="breadcrumbs">
            <!-- Breadcrumb NavXT 6.6.0 -->
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Перейти к Альтиус." href="https://altius-rf.ru" class="home">
                    <span property="name">Главная</span>
                </a>
                <meta property="position" content="1">
            </span>
            <span> » </span>
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Перейти к Объекты." href="https://altius-rf.ru/objects" class="post post-objects-archive">
                    <span property="name">Объекты</span>
                </a>
                <meta property="position" content="2">
            </span>
            <span> » </span>
            <span property="itemListElement" typeof="ListItem">
                <span property="name" class="post post-objects current-item">Pika L</span>
                <meta property="url" content="https://altius-rf.ru/objects/kapitalnyj-remont-kazanskoj-tjec-1">
                <meta property="position" content="3">
            </span>
        </div>
        <h1 class="hero__title">Связаться с нами</h1>
    </div>
</section>
<!-- ============================END hero ============================== -->
<!-- ============================ sec-33 ============================== -->
<section class="sec-33 sec white">
    <div class="container">
        <div class="sec-33__content">
            <div class="sec-33__left">
                <h2 class="sec-title">Связаться с Resonon</h2>
                <div class="content-wp-editor">
                    <p>Resonon стремится обеспечить превосходную поддержку.</p>
                    <p>Пожалуйста, свяжитесь с нами с любыми вопросами или комментариями. Мы с нетерпением ждем вашего ответа.</p>
                </div>
                <button class="btn">Свяжитесь с нами</button>
            </div>
            <div class="sec-33__right">
                <div class="sec-33__items">
                    <div class="sec-33__item">
                        <div class="sec-33__item__label">Телефон:</div>
                        <div class="sec-33__item__title">+1 (406) 586-3356</div>
                    </div>
                    <div class="sec-33__item">
                        <div class="sec-33__item__label">Почта:</div>
                        <div class="sec-33__item__title">inquiry@resonon.com</div>
                    </div>
                    <div class="sec-33__item">
                        <div class="sec-33__item__label">Адресс:</div>
                        <div class="sec-33__item__title">Россия, г. Москва, ул. Ратная, д. 8, корп.3, э 1, пом.1, к 1Е, оф.8</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================END sec-33 ============================== -->
<!-- ============================ map ============================== -->
<section class="mapsection sec">
    <div class="container">
        <div class="mapsection__content">
            <h2 class="sec-title">Мы на карте</h2>
            <div class="mapsection__map" id="mapsection__map"></div>
        </div>
    </div>
</section>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
    //Яндекс Карта
    ymaps.ready(init);
    var myMapAll;

    function init() {
        myMapAll = new ymaps.Map("mapsection__map", {
            center: [55.806226, 49.070544],
            zoom: 15,
        });
        var myPlacemark_1 = new ymaps.Placemark([55.806226, 49.070544], {
            balloonContentHeader: "Название объекта",
            balloonContentBody: "Описание объекта",
            balloonContentFooter: "",
            hintContent: "Кликните для более подробной информации",
        });
        myMapAll.geoObjects.add(myPlacemark_1);
    }
    //END Яндекс Карта
</script>
<!-- ============================END map ============================== -->



{% endblock %}